@inherits LayoutComponentBase

<PageTitle>SDP 2022</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div style="text-align: center;">
            <h1>SDP 2022: Movie Review Application</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>